<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login form</title>
</head>
<body>
    <div id="loginForm">
        <div>
            <div class="row">
                <div class="col col-md-8"></div>
                <div class="col col-md-4">
                    <h1>Login form</h1>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="Login">
                        <label for="floatingInput">Enter your login</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Enter your password</label>
                        <button type="button" class="btn btn-primary btn-lg ">Large button</button>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>